.dashboard {

    &__card {
        background: $color-white;
        color: $color-ink;
        margin: $spacing-tight;
        box-shadow: $shadows-faint;
        border-radius: $border-radius-base;
        padding: $spacing-base;
        border: 1px solid $color-sky;
        z-index: 1;

        // Width
        &.width-full {
            width: calc(#{$full} - #{$spacing-base});
        }
        &.width-three-quarters {
            width: calc(#{$three-quarters} - #{$spacing-base});
        } 
        &.width-two-thirds {
            width: calc(#{$two-thirds} - #{$spacing-base});
        } 
        &.width-half {
            width: calc(#{$half} - #{$spacing-base});
        } 
        &.width-one-third {
            width: calc(#{$one-third} - #{$spacing-base});
        } 
        &.width-one-quarter {
            width: calc(#{$one-quarter} - #{$spacing-base});
        } 

        // Height
        &.height-base {
            height: $height-base;
        } 
        &.height-half{
            height: $height-half;
        } 
        &.height-double {
            height: $height-double;
        } 
    }
}