@import 'foundation/colors';
@import 'foundation/spacing';
@import 'foundation/layout';
@import 'foundation/shadows';
@import 'muuri';
@import 'dashboard/card';


body {
    background-color: #F4F6F8;
    font-size: 16px;
}

.container {
    width: calc(100vw - 20px);
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

*, *:before, *:after {
    box-sizing: border-box;
}